{% macro displayNewsList(source_list) %} {% for source_result in source_list %}
<div class="col-sm-3">
<div class=" card text-white bg-dark mb-3" >
        <div class="card-header">{{source_result.title}}</div>
        <div class="card-body">
          <h5 class="card-title"> <img class="card-img-top" src="{{ source_result.urlToImage }}" alt="Card image cap" class="img-responsive"></h5>
          <p class="card-text"><p class="card-text">
            
                <a href="{{source_result.url}}" target="_blank">
                    <b>
                        <h3>click here to see more news ....</h3>
                    </b>
                </a>
        
                <b>the following artical was published at : {{ source_result.publishedAt }}</b>
                <br /> {{ source_result.description }}
                <br /> {{ source_result.auther }}
                <br /> {{ source_result.name }}
        
        
                <li class="text-center">
                    <a href="/news/{{source_result.title}}"> clik here ..... {{ source_result.title|truncate(10)}}</a>
                </li>
            </p></p>
        </div>
      </div>
    </div>
    {% endfor %} {% endmacro %}


