{% extends "base.html" %} 

<!-- Content block -->

<div class="container"> -->
     <!-- poster background -->
    <!-- <div class="row">
        <h1>hello movie {{title}}</h1>
        <div class="col-xs-12 col-md-2 col-lg-2 posterPath">
            <img src="{{source_result.urlToImage}}" alt="{{source_result.urlToImage}} poster" class="img-responsive">
        </div>
         <div class="col-xs-6 col-md-6 col-lg-6 movie-details">
            <h3>{{source_result.title}}</h3>
            <p class="overview">{{ movie.overview }}</p>
            <p class="rating">{{movie.vote_avarage}}</br>
                <i>{{movie.vote_count}} votes</i>
            </p>
            <a class="ratings" href="/movie/review/new/{{movie.id}}"> Write a new review</a>
        </div> 
    </div> -->

<!-- </div> -->
<h1> Hello Movie {{ id }} </h1>
